  <aside class="bg-primary">
      <div class="container text-center">
          <div class="call-to-action">
              <a href="https://ui.adsabs.harvard.edu/public-libraries/LCaUTPL9SaOv9NwJ2lqriw" class="btn btn-default btn-xl wow tada">More Publications</a>
          </div>
      </div>
      <div class="container text-center">
        <div class="call-to-action">
            <a href="https://github.com/Luloisshen/theORELSE_dataRelease" class="btn btn-default btn-xl wow tada">Data Release</a>
        </div>
    </div>
  </aside>
