
<section class="bg-primary" id="c3vooverview">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xs-12 text-center"> 
                <h2 class="section-heading">Overview</h2>
                <hr class="primary">
                <p> The Charting Cluster Construction with VUDS and ORELSE (C3VO) survey, 
                    an ongoing campaign designed to provide a nearly complete mapping of the five most significant overdensities detected in VIMOS Ultra–Deep Survey (VUDS, see list of protoclusters in <a href="c3vofields.html" style="color:#1B4F72">Fields</a>), 
                    The C3VO survey utilizes spectra from observations with both DEIMOS and MOSFIRE on the Keck I/II telescopes (see Fig 1) and VUDS, and employs the Voronoi Monte-Carlo algorithm for local environment measurement, originally developed within the framework of the ORELSE survey,.  
                    The keck component of the C3VO survey is designed to target star-forming galaxies of all types to i_AB &lt; 25.3 (or ∼ L<sup>*</sup><sub>FUV</sub> at z ∼ 4.5 and &lt; L<sup>*</sup><sub>FUV</sub> at z ∼ 2.5) and Lyman-&alpha; emitting galaxies to fainter magnitudes.
                    The main goals are: 
                </p>
            </div>
            <div class="col-lg-12 col-xs-12">
                <ul>
                    <li>Mapping the growth of structure from z~0.5 to z~5</li>
		            <li>Probing the evolution of galaxies in LSSs across cosmic time</li>
                    <li>Develop detection methods to find forming clusters (protoclusters)</li>
		            <li>Detection biases for proto-clusters using different galaxy types</li>
		            <li>Relationship between, color, star-formation, stellar mass, AGN activity, and density</li>
		            <li>Characterizing the virialization state of protoclusters</li>
                </ul>
            </div>
        </div>
    </div>
</section> 


<!-- <p> The Charting Cluster Construction with VUDS and ORELSE (C3VO) survey, an ongoing campaign which involves observations with both DEIMOS and MOSFIRE on the Keck I/II telescopes. The Keck component of the C3VO survey is designed to provide a nearly complete mapping of the five most significant overdensities detected in VUDS, including those reported in Lemaux et al. (2014b), Cucciati et al. (2014), Lemaux et al. (2018), and Cucciati et al. (2018), by targeting star-forming galaxies of all types to i_AB &lt; 25.3 (or ∼ L<sup>*</sup><sub>FUV</sub> at z ∼ 4.5 and &lt; L<sup>*</sup><sub>FUV</sub> at z ∼ 2.5) and Lyman-&alpha; emitting galaxies to fainter magnitudes.</p> -->
