
<section class="bg-primary" id="c3vooverview">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xs-12 text-center"> 
                <h2 class="section-heading">Overview</h2>
                <hr class="primary">
                <p> The Charting Cluster Construction with VUDS and ORELSE (C3VO) survey, an ongoing campaign which involves observations with both DEIMOS and MOSFIRE on the Keck I/II telescopes. 
                    The C3VO survey is designed to provide a nearly complete mapping of the five most significant overdensities detected in VUDS, using the Voronoi Monte-Carlo algorithm for local environment measuremen which developed in the ORELSE survey.  
                    The keck component of the C3VO survey is designed to target star-forming galaxies of all types to i_AB &lt; 25.3 (or ∼ L<sup>*</sup><sub>FUV</sub> at z ∼ 4.5 and &lt; L<sup>*</sup><sub>FUV</sub> at z ∼ 2.5) and Lyman-&alpha; emitting galaxies to fainter magnitudes.</p>
            </div>
        </div>
    </div>
</section> 


<!-- <p> The Charting Cluster Construction with VUDS and ORELSE (C3VO) survey, an ongoing campaign which involves observations with both DEIMOS and MOSFIRE on the Keck I/II telescopes. The Keck component of the C3VO survey is designed to provide a nearly complete mapping of the five most significant overdensities detected in VUDS, including those reported in Lemaux et al. (2014b), Cucciati et al. (2014), Lemaux et al. (2018), and Cucciati et al. (2018), by targeting star-forming galaxies of all types to i_AB &lt; 25.3 (or ∼ L<sup>*</sup><sub>FUV</sub> at z ∼ 4.5 and &lt; L<sup>*</sup><sub>FUV</sub> at z ∼ 2.5) and Lyman-&alpha; emitting galaxies to fainter magnitudes.</p> -->
