
<section class="bg-primary" id="c3voprojects">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xs-12 text-center"> 
                <h2 class="section-heading">Publications</h2>
                <hr class="primary">
            </div>    
            <div class="container col-xs-12">
                <a href="https://ui.adsabs.harvard.edu/abs/2023arXiv230715113F/abstract" class="btn btn-default btn-xl" style="text-align:left; padding-left:6px">Elentári: A z ~ 3.3 Proto-Supercluster in COSMOS <br> <small style="color:#1B4F72;">Ben Forrest, Brian C. Lemaux, Ekta Shah, 2023 </small></a>
            </div>
            <div class="container col-xs-12 ">
                <a href="https://ui.adsabs.harvard.edu/abs/2022A%26A...662A..33L/abstract" class="btn btn-default btn-xl" style="text-align:left; padding-left:6px">The VIMOS Ultra Deep Survey: The Reversal of the Star Formation Rate - Density Relation at 2 &lt; z &lt; 5<br> <small style="color:#1B4F72;">Brian C. Lemaux, Olga Cucciati, Olivier Le Fèvre, 2022 </small></a>
            </div>
            <div class="container col-xs-12">
                <a href="https://ui.adsabs.harvard.edu/abs/2021ApJ...912...60S/abstract" class="btn btn-default btn-xl" style="text-align:left; padding-left:6px">Implications of the Environments of Radio-detected Active Galactic Nuclei in a Complex Protostructure at z ~ 3.3 <br> <small style="color:#1B4F72;">Lu Shen, Brian C. Lemaux, Lori M. Lubin, 2021 </small></a>
            </div>
            
            <div class="col-lg-12 col-xs-12 text-center"> 
                <h2 class="section-heading">Related Publications</h2>
                <hr class="primary">
            </div>    
    
            <div class="container col-xs-12">
                <a href="https://ui.adsabs.harvard.edu/abs/2022ApJ...941..134H/abstract" class="btn btn-default btn-xl" style="text-align:left; padding-left:6px">Evaluating Lyα Emission as a Tracer of the Largest Cosmic Structure at z ~ 2.47<br> <small style="color:#1B4F72;"> Yun Huang, Kyoung-Soo Lee, Olga Cucciati, 2022 </small></a>
            </div>
            <div class="container col-xs-12">
                <a href="https://ui.adsabs.harvard.edu/abs/2022ApJ...940....4S/abstract" class="btn btn-default btn-xl" style="text-align:left; padding-left:6px">Investigating the Effect of Galaxy Interactions on Star Formation at 0.5 &lt; z &lt; 5<br> <small style="color:#1B4F72;"> Ekta A. Shah, Jeyhan S. Kartaltepe, Christina T. Magagnoli, 2022 </small></a>
            </div>
            <div class="container col-xs-12">
                <a href="https://ui.adsabs.harvard.edu/abs/2022MNRAS.511.1303V/abstract" class="btn btn-default btn-xl" style="text-align:left; padding-left:6px">The ALPINE-ALMA [C II] survey: Investigation of 10 galaxies at z 4.5 with [O II] and [C II] line emission - ISM properties and [O II]-SFR relation<br> <small style="color:#1B4F72;"> Brittany N. Vanderhoof, A. L. Faisst, L. Shen, 2022 </small></a>
            </div>
            <div class="container col-xs-12">
                <a href="https://ui.adsabs.harvard.edu/abs/2022Natur.606..475N/abstract" class="btn btn-default btn-xl" style="text-align:left; padding-left:6px">A population of ultraviolet-dim protoclusters detected in absorption<br> <small style="color:#1B4F72;"> Andrew B. Newman, Gwen C. Rudie, Guillermo A. Blanc, 2022 </small></a>
            </div>
            <div class="container col-xs-12">
                <a href="https://ui.adsabs.harvard.edu/abs/2020A%26A...643A...7G/abstract" class="btn btn-default btn-xl" style="text-align:left; padding-left:6px">The ALPINE-ALMA [CII] survey. Circumgalactic medium pollution and gas mixing by tidal stripping in a merging system at z ~ 4.57<br> <small style="color:#1B4F72;"> M. Ginolfi, G. C. Jones, M. Béthermin, 2020 </small></a>
            </div>
        </div>
    </div>
</section> 


<!-- <div class="container col-xs-12 text-center"></div> -->