<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The ORELSE Team</h2>
                <hr class="light">
                <p class="text-faded">Lori Lubin<sup>1</sup>, Brian Lemaux<sup>1</sup>, Lu Shen<sup>2</sup>, Denise Hung<sup>3</sup>, Roy Gal<sup>3</sup>, Debora Pelliccia<sup>4</sup>, Christopher D. Fassnacht<sup>1</sup>, Adam Tomczak<sup>1</sup>, Po-Feng Wu<sup>5</sup>, Dale Kocevski<sup>6</sup>, Gordon Squires<sup>7</sup></p>
                <p class="text-faded"><small><i><sup>1</sup>University of California, Davis, <sup>2</sup>University of Science and Technology of China, <sup>3</sup>University of Hawai’i, <sup>4</sup>University of California, Santa Crus, <sup>5</sup>National Astronomical Observatory of Japan, <sup>6</sup>Colby College, <sup>7</sup>California Institute of Technology. </i></small></p>
                <img src="../img/ORELSEteam.jpeg" style={width:400} alt="">
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>
