<section id="dataRelease">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Data Release</h2>
                <a href="https://github.com/Luloisshen/theORELSE_dataRelease">
                    <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i></a>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <hr class="Primary">
                <p>Contact Us</p>
                <a href="mailto:orelse@ucdavis.edu">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i></a>
            </div>
        </div>
    </div>
</section>
