<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Dogs</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="../img/dogs/radiowithbirthdayhat.jpeg" style=width:200px alt="">
                    <h3>Radio</h3>
                    <p class="text-muted"> 4 years old</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                      <img src="../img/dogs/wolf3.jpeg" style=width:250px alt="">
                    <h3>Brian's dog</h3>
                    <p class="text-muted">1 years old</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                   <img src="../img/dogs/Luna.jpeg" style=width:200px alt="">
                    <h3>Luna</h3>
<!--                     <p class="text-muted">We update dependencies to keep things fresh.</p> -->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                     <img src="../img/dogs/Fitz.jpeg" style=width:200px alt="">
                    <h3>Fitz</h3>
<!--                     <p class="text-muted">You have to make your websites with love these days!</p> -->
                </div>
            </div>
        </div>
    </div>
</section>
