<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>The Observations of Redshift Evolution in Large Scale Environments </h1>
            <hr>
            <p>The ORELSE survey is a wide-field survey dedicated to studying galaxy evolution across the full range of local environments with extensive photometric and spectroscopic observations of multiple well-known galaxy overdensities at z ~ 1. Recently, we move to higher redshift. The goal is to study the cluster evolution by linking these proto-Large Scale Structures to LSSs at z~1. To be continued. </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
