
<section class="bg-primary" id="orelsefields">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xs-12 text-center"> 
                <h2 class="section-heading">Fields</h2>
                <hr class="primary">
		<!-- <p> This section is under construction, stay tuned.</p> -->
		<style type="text/css">
		.tg  {border-collapse:collapse;border-spacing:0;}
		.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
		overflow:hidden;padding:10px 5px;word-break:normal;}
		.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
		  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
		.tg .tg-0lax{text-align:left;vertical-align:top}
		</style>
		<table class="center">
		<thead>
		  <tr>
		    <th class="tg-0lax">Number</th>
		    <th class="tg-0lax">Name</th>
		    <th class="tg-0lax">RA</th>
		    <th class="tg-0lax">Dec</th>
		    <th class="tg-0lax">z</th>
		    <th class="tg-0lax">Source</th>
		    <th class="tg-0lax">Imaging</th>
		    <th class="tg-0lax">DEIMOS_mem</th>
		    <th class="tg-0lax">HST</th>
		    <th class="tg-0lax">VLA</th>
		    <th class="tg-0lax">Chandra/XMM</th>
		  </tr>
		</thead>
		<tbody>
		  <tr>
		    <td class="tg-0lax">1</td>
		    <td class="tg-0lax">SG0023</td>
		    <td class="tg-0lax">00:23:52.2</td>
		    <td class="tg-0lax">+04:23:07</td>
		    <td class="tg-0lax">0.845</td>
		    <td class="tg-0lax">Optical</td>
		    <td class="tg-0lax">TBD</td>
		    <td class="tg-0lax">213</td>
		    <td class="tg-0lax">Yes</td>
		    <td class="tg-0lax">Yes</td>
		    <td class="tg-0lax">Yes</td>
		  </tr>
		  <tr>
		    <td class="tg-0lax">2</td>
		    <td class="tg-0lax">RCS0224</td>
		    <td class="tg-0lax">02:24:34.0</td>
		    <td class="tg-0lax">-00:02:30</td>
		    <td class="tg-0lax">0.772</td>
		    <td class="tg-0lax">Optical</td>
		    <td class="tg-0lax">TBD</td>
		    <td class="tg-0lax">119</td>
		    <td class="tg-0lax">Yes</td>
    		<td class="tg-0lax">Yes?</td>
    		<td class="tg-0lax">Yes</td>
		  </tr>
		  <tr>
    		<td class="tg-0lax">3</td>
    		<td class="tg-0lax">XLSS005</td>
    		<td class="tg-0lax">00:27:09.7</td>
    		<td class="tg-0lax">-04:18:05</td>
    		<td class="tg-0lax">1.05</td>
    		<td class="tg-0lax">X-ray</td>
    		<td class="tg-0lax">TBD</td>
    		<td class="tg-0lax">96</td>
    		<td class="tg-0lax">No</td>
    		<td class="tg-0lax">Yes</td>
    		<td class="tg-0lax">Yes</td>
		  </tr>
		  <tr>
    		<td class="tg-0lax">4</td>
    		<td class="tg-0lax">SC0849</td>
    		<td class="tg-0lax">08:48:56.3</td>
    		<td class="tg-0lax">+44:52:16</td>
    		<td class="tg-0lax">1.261</td>
    		<td class="tg-0lax">X-ray</td>
    		<td class="tg-0lax">TBD</td>
    		<td class="tg-0lax">114</td>
    		<td class="tg-0lax">Yes</td>
    		<td class="tg-0lax">Yes?</td>
    		<td class="tg-0lax">Yes</td>
		  </tr>
		  <tr>
    		<td class="tg-0lax">5</td>
    		<td class="tg-0lax">RXJ0910</td>
    		<td class="tg-0lax">09:10:44.9</td>
    		<td class="tg-0lax">+54:22:09</td>
    		<td class="tg-0lax">1.11</td>
    		<td class="tg-0lax">X-ray</td>
    		<td class="tg-0lax">TBD</td>
    		<td class="tg-0lax">136</td>
    		<td class="tg-0lax">Yes</td>
    		<td class="tg-0lax">Yes</td>
    		<td class="tg-0lax">Yes</td>
		  </tr>
		  <tr>
    		<td class="tg-0lax">6</td>
    		<td class="tg-0lax">RXJ1053</td>
    		<td class="tg-0lax">10:53:39.8</td>
    		<td class="tg-0lax">+57:35:18</td>
    		<td class="tg-0lax">1.14</td>
    		<td class="tg-0lax">X-ray</td>
    		<td class="tg-0lax">TBD</td>
    		<td class="tg-0lax">62</td>
    		<td class="tg-0lax">Yes</td>
    		<td class="tg-0lax">Yes</td>
    		<td class="tg-0lax">Yes</td>
		  </tr>
		  <tr>
    		<td class="tg-0lax">7</td>
    		<td class="tg-0lax">Cl1137</td>
    		<td class="tg-0lax">11:37:33.4</td>
    		<td class="tg-0lax">+30:00:09</td>
    		<td class="tg-0lax">0.959</td>
    		<td class="tg-0lax">Radio</td>
    		<td class="tg-0lax">TBD</td>
    		<td class="tg-0lax">62</td>
    		<td class="tg-0lax">No</td>
    		<td class="tg-0lax">Yes</td>
    		<td class="tg-0lax">No</td>
		  </tr>
		  <tr>
    		<td class="tg-0lax">8</td>
    		<td class="tg-0lax">RXJ1221</td>
    		<td class="tg-0lax">12:21:24.5</td>
    		<td class="tg-0lax">+49:18:13</td>
    		<td class="tg-0lax">0.7</td>
    		<td class="tg-0lax">X-ray</td>
    		<td class="tg-0lax">TBD</td>
    		<td class="tg-0lax">160</td>
    		<td class="tg-0lax">No</td>
    		<td class="tg-0lax">No?</td>
    		<td class="tg-0lax">Yes</td>
		  </tr>
		  <tr>
    		<td class="tg-0lax">9</td>
    		<td class="tg-0lax">Cl1324+3011</td>
    		<td class="tg-0lax">13:24:50.4</td>
    		<td class="tg-0lax">+30:11:26</td>
    		<td class="tg-0lax">0.756</td>
    		<td class="tg-0lax">Optical</td>
    		<td class="tg-0lax">TBD</td>
    		<td class="tg-0lax">449</td>
    		<td class="tg-0lax">Yes</td>
    		<td class="tg-0lax">Yes</td>
    		<td class="tg-0lax">Yes</td>
		  </tr>
		  <tr>
    		<td class="tg-0lax">10</td>
    		<td class="tg-0lax">Cl1324+3059</td>
    		<td class="tg-0lax">13:24:53.5</td>
    		<td class="tg-0lax">+30:59:00</td>
    		<td class="tg-0lax">0.755</td>
    		<td class="tg-0lax">Optical</td>
    		<td class="tg-0lax">TBD</td>
    		<td class="tg-0lax">449</td>
    		<td class="tg-0lax">Yes</td>
    		<td class="tg-0lax">Yes</td>
    		<td class="tg-0lax">Yes</td>
		  </tr>
		  <tr>
    		<td class="tg-0lax">11</td>
    		<td class="tg-0lax">Cl1350</td>
    		<td class="tg-0lax">13:50:48.5</td>
    		<td class="tg-0lax">+60:07:07</td>
    		<td class="tg-0lax">0.804</td>
    		<td class="tg-0lax">X-ray</td>
    		<td class="tg-0lax">TBD</td>
    		<td class="tg-0lax">102</td>
    		<td class="tg-0lax">No</td>
    		<td class="tg-0lax">Yes</td>
    		<td class="tg-0lax">Yes</td>
		  </tr>
		  <tr>
    		<td class="tg-0lax">12</td>
    		<td class="tg-0lax">Cl1429</td>
    		<td class="tg-0lax">14:29:06.4</td>
    		<td class="tg-0lax">+42:41:10</td>
    		<td class="tg-0lax">0.92</td>
    		<td class="tg-0lax">X-ray</td>
    		<td class="tg-0lax">TBD</td>
    		<td class="tg-0lax">142</td>
    		<td class="tg-0lax">No</td>
    		<td class="tg-0lax">Yes</td>
    		<td class="tg-0lax">No?</td>
		  </tr>
		  <tr>
    		<td class="tg-0lax">13</td>
    		<td class="tg-0lax">Cl1604+4304</td>
    		<td class="tg-0lax">16:04:19.5</td>
    		<td class="tg-0lax">+43:04:33</td>
    		<td class="tg-0lax">0.9</td>
    		<td class="tg-0lax">Optical</td>
    		<td class="tg-0lax">TBD</td>
    		<td class="tg-0lax">531</td>
    		<td class="tg-0lax">Yes</td>
    		<td class="tg-0lax">Yes</td>
    		<td class="tg-0lax">Yes</td>
		  </tr>
		  <tr>
    		<td class="tg-0lax">14</td>
    		<td class="tg-0lax">Cl1604+4321</td>
    		<td class="tg-0lax">16:04:31.5</td>
    		<td class="tg-0lax">+43:21:17</td>
    		<td class="tg-0lax">0.92</td>
    		<td class="tg-0lax">Optical</td>
    		<td class="tg-0lax">TBD</td>
    		<td class="tg-0lax">531</td>
    		<td class="tg-0lax">Yes</td>
    		<td class="tg-0lax">Yes</td>
    		<td class="tg-0lax">Yes</td>
		  </tr>
		  <tr>
    		<td class="tg-0lax">15</td>
    		<td class="tg-0lax">RXJ1716</td>
    		<td class="tg-0lax">17:16:49.6</td>
    		<td class="tg-0lax">+67:08:30</td>
    		<td class="tg-0lax">0.813</td>
    		<td class="tg-0lax">X-ray</td>
    		<td class="tg-0lax">TBD</td>
    		<td class="tg-0lax">198</td>
    		<td class="tg-0lax">Yes</td>
    		<td class="tg-0lax">Yes</td>
    		<td class="tg-0lax">Yes</td>
		  </tr>
		  <tr>
    		<td class="tg-0lax">16</td>
    		<td class="tg-0lax">RXJ1757</td>
    		<td class="tg-0lax">17:57:19.4</td>
    		<td class="tg-0lax">+66:31:31</td>
    		<td class="tg-0lax">0.691</td>
    		<td class="tg-0lax">X-ray</td>
    		<td class="tg-0lax">TBD</td>
    		<td class="tg-0lax">81</td>
    		<td class="tg-0lax">Yes</td>
    		<td class="tg-0lax">Yes</td>
    		<td class="tg-0lax">Yes</td>
		  </tr>
		  <tr>
    		<td class="tg-0lax">17</td>
    		<td class="tg-0lax">RXJ1745</td>
    		<td class="tg-0lax">17:45:18.2</td>
    		<td class="tg-0lax">+65:55:42</td>
    		<td class="tg-0lax">0.608</td>
    		<td class="tg-0lax">X-ray</td>
    		<td class="tg-0lax">TBD</td>
    		<td class="tg-0lax">46</td>
    		<td class="tg-0lax">No</td>
    		<td class="tg-0lax">No</td>
    		<td class="tg-0lax">No</td>
		  </tr>
		  <tr>
    		<td class="tg-0lax">18</td>
    		<td class="tg-0lax">RXJ1821</td>
    		<td class="tg-0lax">18:21:32.9</td>
    		<td class="tg-0lax">+68:27:55</td>
    		<td class="tg-0lax">0.811</td>
    		<td class="tg-0lax">X-ray</td>
    		<td class="tg-0lax">TBD</td>
    		<td class="tg-0lax">141</td>
    		<td class="tg-0lax">No</td>
    		<td class="tg-0lax">Yes</td>
    		<td class="tg-0lax">Yes</td>
		  </tr>
		</tbody>
		</table>
    		</div>
    		</div>
    		</div>
		<div class="col-lg-12 col-xs-12 text-center"> 
            <figure>
                <img src="img/orelse_img/orelse_maps.jpeg" class="img-responsive" alt="">
                <figcaption>Fig. 1.  </figcaption>
            </figure>
        </div> 
</section> 


