
<section class="bg-primary" id="orelseoverview">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center"> 
                <h2 class="section-heading">Overview</h2>
                <hr class="primary">
                <p> The ORELSE survey is a wide-field survey dedicated to studying galaxy evolution across the full range of local environments with extensive photometric and spectroscopic observations of multiple well-known galaxy overdensities at z ~ 1 </p>
            </div>
        </div>
    </div>
</section> 


