
<section class="bg-primary" id="orelseprojects">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xs-12"> 
                <h2 class="section-heading">Projects</h2>
                <hr class="primary">
                <p> This section is under construction, stay tuned.</p>
                <ul>
                    <li>Papers on new cluster detection methodology</li>
                      <ul>
                        <li>Hung et al. 2020</li>
                      </ul>  
                    <li>Papers on star-formation rate</li>
                      <ul>
                        <li>Lemaux et al. 2020</li>
                        <li>Tomczak et al. 2019</li>
                      </ul> 
                    <li>Papers on stellar mass</li>
                      <ul>
                        <li>Tomczak et al. 2017</li>
                      </ul>
                    <li>Papers on galaxy dynamics</li>
                      <ul>
                        <li>Pelliccia et al. 2019</li>
                      </ul>
                    <li>Papers using Radio imaging</li>
                      <ul>
                        <li>Shen et al. 2020</li>
                        <li>Shen et al. 2019</li>
                        <li>Shen et al. 2017</li>
                      </ul>
                    <li>Papers about X-ray imaging </li>
                </ul>
            </div>
        </div>
    </div>
</section> 


