<section class="bg-primary" id="orelseprojects">
    <div class="container">
        <div class="row">
          <div class="col-lg-12 col-xs-12 text-center"> 
            <h2 class="section-heading">Publications</h2>
            <hr class="primary">
          </div>    
          <div class="col-lg-12 col-xs-12 text-center"> 
            <h3 class="section-heading" style="color:#F05F40">On the cluster detection methodology</h3>
            <div class="container text-center">
              <a href="https://ui.adsabs.harvard.edu/abs/2021MNRAS.502.3942H/abstract" class="btn btn-default btn-xl">An optical observational cluster mass function at z ∼ 1 with the ORELSE survey <br> <small>Denise Hung, Brian C. Lemaux, Roy R. Gal 2021, et al. </small></a>
            </div>
            <div class="container text-center">
                <a href="https://ui.adsabs.harvard.edu/abs/2020MNRAS.491.5524H/abstract" class="btn btn-default btn-xl">Establishing a new technique for discovering large-scale structure using the ORELSE survey <br> <small>Denise Hung, Brian C. Lemaux, Roy R. Gal, 2020, et al. </small></a>
            </div>
            <div class="container text-center">
              <a href="https://ui.adsabs.harvard.edu/abs/2018MNRAS.478.1403R/abstract" class="btn btn-default btn-xl">Evaluating tests of virialization and substructure using galaxy clusters in the ORELSE survey <br> <small>Nick Rumbaugh, Brian C. Lemaux, Adam R. Tomczak, et al. 2018 </small></a>
            </div>
            <div class="container text-center">
              <a href="https://ui.adsabs.harvard.edu/abs/2013ApJ...763..124R/abstract" class="btn btn-default btn-xl">The X-Ray-Optical Relations for Nine Clusters at z = 0.7-1.1 from the ORELSE Survey <br> <small>Nick. Rumbaugh, Dale D. Kocevski, Roy R. Gal, et al. 2013 </small></a>
            </div>
          </div>  

          <div class="col-lg-12 col-xs-12 text-center"> 
            <h2 class="section-heading" style="color:#F05F40">On the stellar mass/star-formation/dynamics - Density Relation</h2>
            <div class="container text-center">
              <a href="https://ui.adsabs.harvard.edu/abs/2019MNRAS.490.1231L/abstract" class="btn btn-default btn-xl">Persistence of the colour-density relation and efficient environmental quenching to z ~ 1.4 <br> <small>Brian C. Lemaux, Adam R. Tomczak, Lori M. Lubin 2019, et al. </small></a>
            </div>
            <div class="container text-center">
              <a href="https://ui.adsabs.harvard.edu/abs/2019MNRAS.484.4695T/abstract" class="btn btn-default btn-xl">Conditional quenching: a detailed look at the SFR-density relation at z ∼ 0.9 from ORELSE <br> <small>Adam R. Tomczak, Brian C. Lemaux, Lori M. Lubin, et al. 2020 </small></a>
            </div>
            <div class="container text-center">
              <a href="https://ui.adsabs.harvard.edu/abs/2019MNRAS.482.3514P/abstract" class="btn btn-default btn-xl">Searching for environmental effects on galaxy kinematics in groups and clusters at z ~ 1 from the ORELSE survey <br> <small>Debora Pelliccia, Brian C. Lemaux, Adam R. Tomczak, et al. 2019 </small></a>
            </div>
            <div class="container text-center">
              <a href="https://ui.adsabs.harvard.edu/abs/2017MNRAS.472.3512T/abstract" class="btn btn-default btn-xl">Glimpsing the imprint of local environment on the galaxy stellar mass function <br> <small>Adam R. Tomczak, Brian C. Lemaux, Lori M. Lubin, et al. 2017 </small></a>
            </div>
            <div class="container text-center">
              <a href="https://ui.adsabs.harvard.edu/abs/2017MNRAS.472..419L/abstract" class="btn btn-default btn-xl">Chronos and KAIROS: MOSFIRE observations of post-starburst galaxies in z ∼ 1 clusters and groups <br> <small>Brian C. Lemaux, Adam R. Tomczak, Lori M. Lubin 2017, et al. </small></a>
            </div>
          </div> 

          <div class="col-lg-12 col-xs-12 text-center"> 
            <h3 class="section-heading" style="color:#F05F40">On AGN - Density Relation </h3>
            <div class="container text-center">
              <a href="https://ui.adsabs.harvard.edu/abs/2020ApJ...902..101S/abstract" class="btn btn-default btn-xl">Extended Radio AGN at z ∼ 1 in the ORELSE Survey: The Confining Effect of Dense Environments<br> <small>Lu Shen, Guilin Liu, Mengfei Zhang 2020, et al. </small></a>
            </div>
            <div class="container text-center">
              <a href="https://ui.adsabs.harvard.edu/abs/2020MNRAS.494.5374S/abstract" class="btn btn-default btn-xl">The properties of radio and mid-infrared detected galaxies and the effect of environment on the co-evolution of AGN and star formation at z ∼ 1<br> <small>Lu Shen, Brian C. Lemaux, Lori M. Lubin, et al. 2020 </small></a>
           </div>
            <div class="container text-center">
              <a href="https://ui.adsabs.harvard.edu/abs/2019MNRAS.484.2433S/abstract" class="btn btn-default btn-xl">Possible evidence of the radio AGN quenching of neighbouring galaxies at z ∼ 1 <br> <small>Lu Shen, Adam R. Tomczak, Brian C. Lemaux, et al. 2019 </small></a>
            </div>
            <div class="container text-center">
              <a href="https://ui.adsabs.harvard.edu/abs/2017MNRAS.472..998S/abstract" class="btn btn-default btn-xl">The properties of radio galaxies and the effect of environment in large-scale structures at z ∼ 1 <br> <small>Lu Shen, Neal A. Miller, Brian C. Lemaux, et al. 2017 </small></a>
            </div>
            <div class="container text-center">
              <a href="https://ui.adsabs.harvard.edu/abs/2017MNRAS.466..496R/abstract" class="btn btn-default btn-xl">X-ray-emitting active galactic nuclei from z = 0.6 to 1.3 in the intermediate- and high-density environments of the ORELSE survey<br> <small>Nick Rumbaugh, Brian C. Lemaux, Adam R. Tomczak, et al. 2017 </small></a>
            </div>
            <div class="container text-center">
              <a href="https://ui.adsabs.harvard.edu/abs/2012ApJ...746..155R/abstract" class="btn btn-default btn-xl">TThe Evolution and Environments of X-Ray Emitting Active Galactic Nuclei in High-redshift Large-scale Structures <br> <small>Nick. Rumbaugh, Dale D. Kocevski, Roy R. Gal, et al. 2017 </small></a>
            </div>
          </div> 
        </div>
    </div>
</section> 
