<section class="no-padding" id="publications">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://arxiv.org/pdf/2307.15113.pdf" class="portfolio-box">
                    <img src="img/publications/Shen2021.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Forrest et al. 2023
                            </div>
                            <div class="project-name">
                                Elentári: A massive proto-supercluster at z ~ 3.3 in the COSMOS field
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://arxiv.org/pdf/2103.03441.pdf" class="portfolio-box">
                    <img src="img/publications/Shen2021.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Shen et al. 2021 
                            </div>
                            <div class="project-name">
                                Implications of the Environments of Radio-detected AGNs in a Complex Protostructure at z∼3.3
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://arxiv.org/pdf/2101.02215.pdf" class="portfolio-box">
                    <img src="img/publications/Hung2021.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Hung et al. 2021
                            </div>
                            <div class="project-name">
                                An optical observational cluster mass function at z ∼ 1 with the ORELSE survey
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://arxiv.org/pdf/2009.03324.pdf" class="portfolio-box">
                    <img src="img/publications/Lemaux2020.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Lemaux et al. 2020
                            </div>
                            <div class="project-name">
                                The VIMOS Ultra Deep Survey: The Reversal of the Star Formation Rate - Density Relation at 2 < z < 5
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://arxiv.org/pdf/2009.03343.pdf" class="portfolio-box">
                    <img src="img/publications/Shen2020a.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Shen et al. 2020b
                            </div>
                            <div class="project-name">
                                EXTENDED RADIO AGN AT z ∼ 1 IN THE ORELSE SURVEY: THE CONFINING EFFECT OF DENSE ENVIRONMENTS
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://arxiv.org/pdf/1911.00024.pdf" class="portfolio-box">
                    <img src="img/publications/Shen2020b.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Shen et al. 2020
                            </div>
                            <div class="project-name">
                                The Properies of Radio-IR Galaxies and Environments on the co-evolution of AGN and Star Formation at z ∼ 1
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://arxiv.org/pdf/1905.09298.pdf" class="portfolio-box">
                    <img src="img/publications/Hung2020.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Hung et al. 2020
                            </div>
                            <div class="project-name">
                                Establishing a new technique for discovering large-scale structure using the ORELSE survey
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://arxiv.org/pdf/1812.04624.pdf" class="portfolio-box">
                    <img src="img/publications/Lemaux2019.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Lemaux et al. 2019
                            </div>
                            <div class="project-name">
                                Persistence of the colour-density relation and efficient environmental quenching to z ∼ 1.4
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://arxiv.org/pdf/1812.04633.pdf" class="portfolio-box">
                    <img src="img/publications/Tomczak2019.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Tomczak et al. 2019
                            </div>
                            <div class="project-name">
                                Conditional quenching: a detailed look at the SFR-density relation at z ∼ 0.9 from ORELSE
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- <div class="col-lg-4 col-sm-6">
                <a href="https://arxiv.org/pdf/1807.04763.pdf" class="portfolio-box">
                    <img src="img/publications/Pelliccia2019.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Pelliccia et al. 2019
                            </div>
                            <div class="project-name">
                                Searching for environmental effects on galaxy kinematics in groups and clusters at z ∼ 1 from the ORELSE survey
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
        </div>
    </div>
</section>
