
<section class="bg-dark" id="science">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center"> <!--col-lg-12 text-center-->
                <h2 class="section-heading">Science</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
       <div class="row">
           <div class="col-lg-3 col-sm-6 text-center"> <!--class="col-lg-6 text-center"-->
                <img src="img/logos/ORELSE_Final_Revision_2_Color.png" style=width:300px>
           </div>
           <div class="col-lg-6 col-sm-6">
                <h3>The ORELSE survey</h3> 
                <p class="text-muted">-- the sacred one </p>
                <ul>
                    <li>Map Out Large Scale Structure at z~1</li>
		            <li>Galaxy evolution across all environments</li>
	    	        <li>Relationship between color, star formation, stellar mass, morphology, and density</li>
		            <li>Developing new methods to detect and characterize structure</li>
                    <li>The triggering and co-evolution of Active Galactic Nuclei (AGN) activity</li>
                    <li>Characterizing the virialization state of clusters</li>
                    <li>Galaxy dynamics</li>
                </ul>
                <a href="orelse.html" class="btn btn-default btn-xl wow tada">Find Out More</a>
           </div>
           <div class="col-lg-3 col-sm-6 text-center"> 
           <img src="img/movies/RXJ1053overdensityshort.gif" style=width:300px>
           </div>
       </div>
   </div>
   <hr style="max-width:500px; border-width: 1px; color:grey; background-color:grey; border-color:grey">
   <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 text-center"> 
                <img src="img/logos/C3VO_FINAL.png" style=width:300px>
           </div>
            <div class="col-lg-6 col-sm-6">
                <h3>The C3VO survey </h3>
                <p class="text-muted">-- the golden one </p>
                <p>Charting Cluster Construction with VUDS and ORELSE</p>
                <ul>
                    <li>Mapping the growth of structure from z~0.5 to z~5</li>
		            <li>Probing the evolution of galaxies in LSSs across cosmic time</li>
                    <li>Develop detection methods to find forming clusters (protoclusters)</li>
		            <li>Detection biases for proto-clusters using different galaxy types</li>
		            <li>Relationship between, color, star-formation, stellar mass, AGN activity, and density</li>
		            <li>Characterizing the virialization state of protoclusters</li>
                </ul>
                <!--<a href="c3vo.html" class="btn btn-default btn-xl wow tada">Find Out More</a>-->
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img src="img/movies/Hyperion.gif" style=width:400px>
            </div>
        </div>
    </div>
</section> 


