
<section id="science">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center"> <!--col-lg-12 text-center-->
                <h2 class="section-heading">Science</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
       <div class="row">
           <div class="col-md-6">
                <img src="img/movies/RXJ1053overdensityshort.gif" style=width:300px>
           </div>
           <div class="col-md-6">
                <h3>The ORELSE survey</h3> 
                <p class="text-muted">-- the sacred one </p>
                <ul>
                    <li>New cluster detection methodology</li>
                    <li>Stellar mass - density relationship</li>
                    <li>Star formation rate - density relationship</li>
                    <li>AGN activites and co-evolution</li>
                    <li>Galaxy dynamics</li>
                </ul>
                <a href="orelse.html" class="btn btn-default btn-xl wow tada">Find Out More</a>
           </div>
       </div>
   </div>
   
   <div class="container bg-grey">
        <div class="row">
            <div class="col-md-6">
                <h3>The C3VO survey </h3>
                <p class="text-muted">-- the golden one </p>
                <p>Charting Cluster Construction with VUDS and ORELSE</p>
                <a href="c3vo.html" class="btn btn-default btn-xl wow tada">Find Out More</a>
            </div>
            <div class="col-md-6">
                <img src="img/movies/Hyperion.gif" style=width:400px>
            </div>
        </div>
    </div>
</section> 


