<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The ORELSE Team</h2>
                <hr class="light">
                <p class="text-faded">Lori Lubin<sup>1</sup>, Brian Lemaux<sup>1</sup>, Lu Shen<sup>1,2</sup>, Roy Gal<sup>3</sup>, Denise Hung<sup>3</sup>, Debora Pelliccia<sup>4</sup>, Olga Cucciati<sup>5</sup>, Olivier Le Fèvre<sup>6</sup>, Christopher D. Fassnacht<sup>1</sup>, Adam Tomczak<sup>1</sup>, Po-Feng Wu<sup>7</sup>, Dale Kocevski<sup>8</sup>, Gordon Squires<sup>9</sup></p>
                <p class="text-faded"><small><i><sup>1</sup>University of California, Davis, <sup>2</sup>University of Science and Technology of China, <sup>3</sup>University of Hawai’i, <sup>4</sup>University of California, Santa Crus, <sup>5</sup>INAF - Osservatorio di Astrofisica e Scienza dello Spazio di Bologna, <sup>6</sup>Aix-Marseille Univ, <sup>7</sup>National Astronomical Observatory of Japan, <sup>8</sup>Colby College, <sup>9</sup>California Institute of Technology. </i></small></p>
                <img src="../img/ORELSEteam.jpeg" style=width:400px alt="">
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2 text-center">
        <hr class="Primary">
        <p>Contact Us</p>
        <a href="mailto:orelse@ucdavis.edu">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i></a>
    </div>
</section>
